html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: rgb(51, 122, 183);
    font-size: 20px;

    /* Location of the image */
    background-image: url("../images/background.jpg") ;

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

.navbar{
    background-color:lightsteelblue;
}
h1 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 45px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 25px; text-align: center; text-shadow: 0 1px 1px #fff; }
h2 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 35px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 5px; text-align: center; text-shadow: 0 1px 1px #fff; }

p { color: #7a7c7f; font-size: 29px; font-family: "Libre Baskerville", serif; line-height: 45px; text-align: center; text-shadow: 0 1px 1px #fff; padding-top: 20px; }
a { color: deepskyblue; font-size: 24px; margin-top: 20px; text-align: center; text-shadow: 0 1px 1px #fff; }


/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
        background-image: url("../images/background.jpg") ;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    font-size:15px;
    color:navajowhite;
}

footer a{
    color:navajowhite;
}

ul.rig {
    list-style: none;
    font-size: 0px;
    /*margin-left: -2.5%; !* should match li left margin *!*/
}
ul.rig li {
    display: inline-block;
    /*margin: 0 0 2.5% 2.5%;*/
    /*background: #fff;*/
    /*border: 1px solid #ddd;*/
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    /*box-shadow: 0 0 0px #ddd;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 0 0px;
    display:block;
}
ul.rig li h5 {
    margin: 0 0 0px;
}
ul.rig li p {
    font-size: 1.0em;
    line-height: 1.5em;
    /*color: white;*/
}
/* class for 2 columns */
ul.rig.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-6 li {
    width: 15%; /* this value + 2.5 should = 25% */
}

/* class for 4 columns */
ul.rig.columns-10 li {
    width: 10%; /* this value + 2.5 should = 25% */
}

@media (max-width: 800px) {
    /* class for 3 columns */
    ul.rig.columns-6 li {
        width: 20%; /* this value + 2.5 should = 33% */
    }
    /* class for 4 columns */
    ul.rig.columns-10 li {
        width: 14%; /* this value + 2.5 should = 25% */
    }
}

@media (max-width: 480px) {
    /* class for 3 columns */
    ul.rig.columns-6 li {
        width: 30.83%; /* this value + 2.5 should = 33% */
    }
    /* class for 4 columns */
    ul.rig.columns-10 li {
        width: 15%; /* this value + 2.5 should = 25% */
    }
}

